.background {
  background-color: #efc7d0;
  background-image: url(../public/background.jpg), linear-gradient(#efc7d0, #5C4294);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-blend-mode: multiply;
  z-index: -1;
}